<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask + SQLAlchemy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Шагомер</h1>
    <form id="infoForm">
        <input type="number" id="steps" placeholder="Шаги" required>
        <input type="date" id="date" placeholder="Дата" required>
        <button type="submit">Добавить</button>
    </form>

    <ul id="infoList"></ul>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
